@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Merriweather&family=Roboto+Slab&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
::-webkit-scrollbar {
    width: 0.7vw;
}
 
::-webkit-scrollbar-track {
    box-shadow:0 0 2px rgb(0, 0, 0); 
    background-color: rgb(255, 255, 255);
    border-left: 1px solid rgba(0, 0, 0, 0.521);
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(92, 92, 92);
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(126, 126, 126);
}

.full{
      
      display: flex;
      width: 100%;
      height: 100vh;
      
}
.contact_list{
    width: 30%;
    height: 100%;
    background-color: rgb(199, 198, 198);
    position: fixed;
    left: 0;
    z-index: 100;
    border: 1px solid rgb(165, 15, 23);
}
.heading1{
    width:30%;
    position: fixed;
    height: 27%;
    top:0;
    background-color: rgb(165, 15, 23);
    
}
.heading1 p{
    position: absolute;
    bottom: 1.5rem;
    left: 2rem;
    font-size: 2rem;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
.DP{
    position: absolute;
    left: 0;
    top: 27%;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.DP img{
   
    height: 90%;
    border-radius: 100px;
    box-shadow:0px 0px 4px brown;

}
.name_chat{
    width: 100%;
    height: 15%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 57%;
}
.name_chat p{
    margin: 0.9rem;
    font-family: 'Cabin', sans-serif;
    color: green;
}

.dibaa{
    background-color: rgba(0, 0, 0, 0.082);
    margin: auto;
    display: flex;
    align-items: center;
    width: 90%;
    height: 2rem;
    border-radius: 30px;
    border: 1px solid rgb(2, 128, 39);
    /* box-shadow: 0px 0px 5px rgba(2, 2, 2, 0.603); */
    justify-content: center;
    font-family: 'Cabin', sans-serif;
}

.name_des{
    width: 100%;
    height: 13%;
    position: absolute;
    left: 0;
    top: 72%;
}
.name_des p{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    margin: 0.9rem;
  
}
.rog{
    width: 100%;
    height: 15%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 85%;
}
.rog p{
    margin: 0.9rem;
    font-family: 'Cabin', sans-serif;
    color: green;
}
.heading2{
    z-index: 50;
    width:70%;
    position: fixed;
    height: 10%;
    top:0;
    right: 0;
    background-color: rgb(37, 79, 82);
    box-shadow: 0px 0px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.hori{
    width: 80%;
    height:100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    cursor: pointer;
}
.doc_img{
    width: 3rem;
    height: 3rem;
   
}
.doc_img img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
}
.dots{ 
    margin-left: 1rem;
    background-blend-mode: multiply;
    width: 15%;
    height: 55%;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.minus{
    /* background-image:linear-gradient(to bottom,rgb(33, 129, 136),rgba(25, 187, 199, 0.459)); */
    background-color: rgb(109, 162, 221);
    width: 33%;
    height: 82%;
    margin: 0.12rem;
    border: 1px solid rgb(33, 137, 255);
    border-radius: 8px 0px 0px 8px ;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.minus div{
    width: 0.6rem;
    height: 0.15rem;  
    background-color: white;
}
.box2{
    
    border: 0.15rem solid white;
    width: 0.4rem;
    height: 0.4rem;
}

.box{
    /* background-image:linear-gradient(to bottom,rgb(224, 224, 224),rgb(99, 99, 99)); */
    background-color: rgb(109, 162, 221);
    width: 32%;
    height: 82%;
    cursor: pointer;
    margin: 0.12rem;
    border: 1px solid rgb(33, 137, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cross{
    /* background-image:linear-gradient(to bottom,rgb(253, 106, 101),rgb(184, 30, 30)); */
    background-color: rgb(255, 79, 79);
    width: 32%;
    height: 82%;
    margin: 0.1rem;
    border: 1px solid rgb(255, 29, 29);
    border-radius: 0px 8px 8px 0px ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}
.cross p{
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
}
.chat{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 90%;
    background-color: rgb(204, 204, 204);
    
}
.chating{
    background-color: rgb(255, 185, 185);
    overflow-y: auto;
    height: 89%;
    width: 100%;
    display: block;
}
.message{
    width: fit-content;
    height: fit-content;
    font-family: cursive;
    font-size: 0.9rem;
    max-width: 60%;
    color: white;
}
.center{
    padding: 3px 20px 3px 20px;
    border-radius: 4rem;
    font-size: 0.8rem;
    color: rgb(25, 26, 41);
    font-weight: bold;
    background-color: rgba(78, 78, 78, 0.212);
    box-shadow: 0px 0px 3px rgba(51, 51, 50, 0.74);
    margin: auto;
    margin-top: 10px;
    clear: both;
}
.left{
    margin: 10px 0px 5px 10px;
    padding: 9px 12px 9px 12px;
    box-shadow: 0px 0px 3px rgba(51, 51, 50, 0.74);
    border-radius: 0px 20px 20px 15px;
    background-color: rgb(0, 145, 12);
    float: left;
    clear: both;
}
.right{
    margin: 5px 10px 5px 10px;
    padding: 9px 12px 9px 12px;
    box-shadow: 0px 0px 3px rgba(51, 51, 50, 0.74);
    border-radius: 20px 0px 15px 20px;
    background-color: rgb(219, 14, 100);
    float: right;
    clear: both;
}
.documentdibba{
    height: 85%;
    width: 100%;
    display: none;
}
.closeoff{
    height: fit-content;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(148, 148, 148);
}
.headname{
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
}
.off{
    position: absolute;
    left: 0.6rem;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
}
.mainContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 90%;
}
.documentContent{
     width: 35%;
     height: 55%;
     background-color: rgba(177, 177, 177, 0.76);
     border-radius: 5px;
   
}
.addMore{
    display: none;
}
.heading3{
    width:70%;
    position: fixed;
    height: 10%;
    bottom: 0;
    background-color: rgb(37, 79, 82);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
.attach{
    width: 2.1rem;
    height: 2.1rem;
    right: 0;
    margin-right: 3%;
    border: 0px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white; 
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}
.attach label img{
    width: 1.6rem;
    height: 1.6rem;
    cursor: pointer;
}
#send-container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mess{
    background-color: white;
    font-size: 17px;
    width: 92%;
    height: 2.5rem;
    outline: none;
    border-radius: 100px;
    border: 0px solid black;
    padding-left: 20px;
    box-shadow: 0px 0px 3px black;
}
.micro{
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 100px;
    right: 0;
    margin-left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}
.micro1{
    width: 2.1rem;
    height: 2.1rem;
    border: 0px solid black;
    border-radius: 100px;
    right: 0;
    margin-left: 3%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.micro img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100px;
    
}
.micro1 img{
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 100px;
    
}

.last{
    width:70%;
    position: fixed;
    height: 15%;
    bottom: 0;
    background-color: rgb(70, 102, 104);
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}
#sending{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.howMany{
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxed{
    width: 5rem;
    height: 85%;
    margin: 0.2rem;
    background-color: white;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.boxed span{
    font-size: 3.5rem;
    font-weight: bold;
    color: rgb(75, 75, 75);
}
#khulja{
    display: none;
}
.send_me{
    right: 1rem;
    color: rgb(255, 255, 255);
    font-size: 2.3rem;
    width: 4rem;
    height: 4rem;
    border: 0px solid black;
    border-radius: 10rem;
    background-color: rgba(0, 255, 55, 0.863);
    cursor: pointer;
}
.send_me:hover{
    box-shadow: 0px 0px 500px rgb(0, 0, 0);
}